.App {
  background-color: black;
  width: 100%;
  height: 150px;
}

.List {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}

li {
  color: orange;
  list-style: none;
  text-align: center;
  border: 1px solid orange
}
li:hover{
  color:wheat;
  /* transform: scale(1.2);   */
  transition: 0.5s linear;
}